@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
	width: auto;
}
a {
	text-decoration: none;
	display: flex;
	align-items: center;
}
a {
	color: #408de6;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 2px;
}
a:hover {
	color: #9947eb;
	border: 1px solid #9947eb;
	border-radius: 3px;
	padding: 2px;
	transition: all .2s ease-in-out;
}
a:active{
	color: #f45d48;
	border: 1px solid #f45d48;
	border-radius: 3px;
	padding: 2px;
	transition: all .2s ease-in-out;

}

i {
	font-size: 1rem;
	padding: 0 1px 0 0;
}
p,
li {
	line-height: 1.25rem;
	max-width: 93ch;
	font-size: 0.85rem;
	display: flex;
	align-items: center;
}
.navbar li {
	font-size: 0.7rem;
	font-weight: 500;
}

h1 {
	font-size: 2rem;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	padding-top: 1%;
}
h5 {
	font-size: 1.35rem;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	padding-block: 7px;
}
h6 {
	font-size: 1rem;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	padding-block: 2px;
	padding-left: 2%;
}
p {
	font-size: 0.9rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
html {
	scroll-behavior: smooth;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #303030;
}
body{
	margin: 3rem;
	padding: 4% ;
	font-family: "Roboto", sans-serif;
	max-width: 100vw;
	background-color: #fffffe;
}

.desactive {
	color: #303030;
	background: #fffffe;
	transition: all 1s ease-in-out;
	border: 1px solid transparent;
	
}

.active {
	transition: all 1s ease-in-out;
	background-color: #303030;
	border: 1px solid #fffffe;
	color: #fffffe;
}

.container {
	width: 100%;
}

ul {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.projects {
	display: flex;
	align-items: center;
}
.projects a {
	padding-left: 2px;
}
.achieved {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.achieved li {
	padding-left: 3%;
}
.skills-box-div {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
}
.skills-box {
	display: flex;
	flex-direction: row;
}
.skills-box-div li {
	display: flex;
	align-items: center;
	line-height: 1.25rem;
}
.skills {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.education-ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.education-ul > li > a{
	font-size: .9rem;
	font-weight: 500;

}


/* button */
#checkbox {
	display: none;
	
 }
 
 .switch {
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 35px;
	height: 35px;
	background-color: rgb(99, 99, 99);
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(126, 126, 126);
	box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
 }
 
 .powersign {
	position: relative;
	width: 50%;
	height: 50%;
	border: 4px solid rgb(48, 48, 48);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
 }
 
 .powersign::before {
	content: "";
	width: 8px;
	height: 100%;
	background-color: rgb(99, 99, 99);
	position: absolute;
	top: -60%;
	z-index: 2;
 }
 
 .powersign::after {
	content: "";
	width: 4px;
	height: 100%;
	background-color: rgb(48, 48, 48);
	position: absolute;
	top: -60%;
	z-index: 3;
 }
 
 #checkbox:checked + .switch .powersign {
	border: 4px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 10px rgb(151, 243, 255),
	  0px 0px 5px rgb(151, 243, 255) inset;
 }
 
 #checkbox:checked + .switch .powersign::after {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(151, 243, 255);
 }
 
 #checkbox:checked + .switch {
	box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
	  0px 0px 2px rgb(151, 243, 255) inset,
	  0px 0px 10px rgb(151, 243, 255) inset,
	  0px 0px 40px rgb(151, 243, 255),
	  0px 0px 100px rgb(151, 243, 255),
	  0px 0px 5px rgb(151, 243, 255);
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(146, 180, 184);
 }
 
 #checkbox:checked + .switch .powersign::before {
	background-color: rgb(146, 180, 184);
 }